@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body{
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    
    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;
        a {
            padding: 0.3rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}
//About
.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image{
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}

.bio{
    grid-area: bio;
    font-size: 1.5rem;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}

.job{
    background: #cab2a2;
    color: black;
    padding: 0.5rem;
    border-bottom: $secondary-color 4px solid;
}

// Works
.projects {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
}

.item a{
    font-size: 3rem;

    &:hover{
        opacity: 0.5;
        @include easeOut;
    }
}

// Contact
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 3px white solid;
        padding: 1rem 2rem;
        margin-bottom: 3rem;
        @include easeOut;
    }
}

.button {
    background-color: $secondary-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

#main-footer{
    text-align: center;
    padding: 1 rem;
    background: black;
    color: white;
    height: 50px;
}

@import 'mobile';